import url(//fonts.googleapis.com/css?family=Tangerine);

fancyfont {
  font-size: x-large;
  font-family: Tangerine;
  
}

flex-row {
  flex-direction: row;
}

flex-center {
  justify-content: center;
}
